<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog</title>
  <link rel="stylesheet" href="css/home.css" />
</head>
<body>
  <header class="header">
    <marquee width = "350">
      <h1 class="blog-title">António's DevLog</h1>
    </marquee>
    <nav class="nav">
      <a href="/">Home</a>
    </nav>
  </header>

  <main class="main">
    {{#each posts}}
      <article class="post">
        <h2 class="post-title"><a href="{{this.file_name}}.html">{{this.title}}</a></h2>
        <p class="post-date">{{this.date}}</p>
      </article>
    {{/each}}
  </main>
</body>
</html>
